<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Produto</title>
    <link rel="stylesheet" href="../static/criar.css">
</head>
<body>
    <h1>Criar Produto</h1>
    <form method="post" class="form-criar">
        Nome: <input type="text" name="nome" placeholder="Produto aqui"/> <br>
        Preço: <input type="text" name="preco" placeholder="Preço aqui"/> <br>
        <button type="submit">Salvar</button>
    </form>
    
    <a href="/" class="link-voltar">Voltar</a>

</body>
</html>