<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
    <link rel="stylesheet" href="./editar.css">
</head>
<body>
    <h1>Editar Produto</h1>

    <form method="post" class="form-editar">
        Nome: <input value="{{ produto['nome'] }}" type="text" name="nome"/> <br>
        Preço: <input value="{{ produto['preco'] }}" type="number" name="preco"/> <br>
        <button type="submit">Salvar</button>
    </form>

    <a href="/" class="link-voltar">Voltar</a>
</body>
</html>