<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <h1>Lista de Produtos</h1>
    <a href="/criar" class="link-novo-produto">Novo Produto</a>

    <ul class="container">
        {% for produto in produtos %}
            <li>
                {{ produto['nome'] }} - {{ produto['preco'] }}
                <a class="btn-editar" href="{{ url_for('produto.editar', id=produto['id']) }}">
                <button >
                    Editar
                </button>
            </a>
            <a class="btn-deletar" href="{{ url_for('produto.deletar', id=produto['id']) }}">
                <button>
                    Deletar
                </button>
            </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>