<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <h1>Lista de Produtos</h1>
    <a href="/criar" class="link-novo-produto">Novo Produto</a>

    <ul class="container">
        {% for produto in produtos %}
            <li>
                {{ produto['nome'] }} - {{ produto['preco'] }}
                <button class="btn-editar">
                    <a href="{{ url_for('produto.editar', id=produto['id']) }}">Editar</a>
                </button>
                <button class="btn-deletar">
                    <a href="{{ url_for('produto.deletar', id=produto['id']) }}">Deletar</a>
                </button>
            </li>
        {% endfor %}
    </ul>
</body>
</html>